<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Your Are Not Allowed to access this page</h2>
        <p>Please, click the button bellow to login</p>
        <hr />
        <p>
            <a asp-controller="Movies" asp-action="Index" class="btn btn-outline-success">Home Page</a>            
        </p>
    </div>
</div>