@{
    ViewData["Title"] = "Confirm Email";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Confirm Your Email Registration First. Please Check the link confirmation on your Email.
    </p>
</div>
